<div class="container my-5">
  <div class="row">
    <h2>商品詳細</h2>
  </div>

  <div class="row mt-3">
    <div class="offset-sm-1 col-sm-3">
      <%= attachment_image_tag @item, :image, width: "60%", format: "jpeg", fallback: "no_image.jpeg", class:"lb" %>
    </div>

    <div class="col-sm-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td>税抜価格</br>(税込価格)</td>
            <td><%= @item.price %>(<%= (@item.price * 1.1).floor %>)円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td><% if @item.is_active == true %>
                販売可
                <% else %>
                販売不可
                <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-primary" %>
        </div>
      </div>
    </div>

  </div>
</div>