<div class="container my-5">
  <div class="text-center">
    <p class="home-text">ようこそ、ながのCAKEへ！</br>
       このサイトは、ケーキ販売のECサイトになります。</br>
       会員でない方も商品閲覧はできますが、</br>
       購入には会員登録が必要になります。
    </p>
    <%= image_tag 'no_image.jpeg', :size =>'600x500' %>
  </div>

  <div class="container">
    <div class="row">
      <h2>新着商品</h2>
    </div>
    <div class="row">
      <% @items.first(4).each do |item| %>
      <div class="col-md-3 col-sm-6">
        <%= link_to item_path(item) do %>
          <div class="img-wrap"><%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg', fallback: 'no_image.jpeg', size: '200x200', class: "rounded" %></div>
        <% end %>
            <strong class="text-left"><%= item.name %></span>
            <span class="text-left d-block"><%= (item.price * 1.1).floor %> 円</span>
          </div>
        </div>
        <% end %>
        <div class="text-right"><%= link_to "全ての商品をみる", items_path %></div>
      </div>
  </div>
</div>