<div class="container my-5">
  <div class="row">
      <h2>新規会員登録</h2>
  </div>

  <div class="row mt-3 flex-column align-items-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-group row">
      <%= f.label :名前, class:"col-sm-4" %>
      <div class="row">
        <%= f.text_field :last_name, placeholder:"令和",class:"form-control col-sm-4" %>
        <%= f.text_field :first_name, placeholder:"道子",class:"form-control col-sm-4" %>
      </div>
      <%= f.label :カナ, class:"col-sm-4" %>
      <div class="row">
        <%= f.text_field :last_name_kana, placeholder:"レイワ",class:"form-control col-sm-4" %>
        <%= f.text_field :first_name_kana, placeholder:"ミチコ",class:"form-control col-sm-4" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :メールアドレス, class:"col-sm-4" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com",class:"form-control col-sm-8" %>
    </div>

    <div class="form-group row">
      <%= f.label :郵便番号（ハイフンなし）, class:"col-sm-4" %>
      <%= f.text_field :postal_code, placeholder:"0000000",class:"form-control col-sm-8" %>
    </div>

    <div class="form-group row">
      <%= f.label :住所, class:"col-sm-4" %>
      <%= f.text_field :address, placeholder:"東京都品川区大崎0-0-0",class:"form-control col-sm-8" %>
    </div>

    <div class="form-group row">
      <%= f.label :電話番号（ハイフンなし）, class:"col-sm-4" %>
      <%= f.text_field :telephone_number, placeholder:"0000000000",class:"form-control col-sm-8" %>
    </div>

    <div class="form-group row">
      <%= f.label :パスワード, class:"col-sm-4" %>
      <%= f.password_field :password, placeholder:"最低６文字必要です。",autocomplete: "new-password", class:"form-control col-sm-8" %>
    </div>

    <div class="form-group row">
      <%= f.label :パスワード確認用, class:"col-sm-4" %>
      <%= f.password_field :password_confirmation,placeholder:"最低６文字必要です。", autocomplete: "new-password", class:"form-control col-sm-8" %>
    </div>

    <div class="row">
      <%= f.submit "会員登録", class: "btn btn-primary mx-auto" %>
    </div>
    <% end %>

    <div class="container-fluid py-4">
      <div class="row">
        <div class="offset-2">
          <h4>既に登録済みの方</h4>
          <%= link_to "こちらからログイン", new_session_path(resource_name) %>
        </div>
      </div>
    </div>
  </div>
</div>
